{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <ul>
                    {% for article in articles %}
                    <h4 id="article-title">{{ article.title }}</h4>
                    <p id="article-username">{{ article.author.username }}</p>
                    <a href="{{ url_for('article_main.article_detail', article_id=article.id) }}">阅读全文</a>
                    <p id="article-time"
                        style="padding-top:10px; font-size:5px; color:gray">
                        {{ moment(article.create_time).format('LLL') }}</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

